/*1. BoxModel*/

.container__body {
    max-width: 1000px;
    margin: auto;
    line-height: 1.8;
    background-image: url("https://i.postimg.cc/7YXxrX9t/backgroundneon.jpg");
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    font-family: "Roboto Condensed", sans-serif;
}

.container__body--hell {
   background-image:url("https://i.postimg.cc/bNzscZxg/hell-background.gif");
}

.section__boxModel {
    margin: 10px;
    padding: 10px;
}

.section__boxModel--centering {
    text-align: center;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 3;
    flex-grow: 1;
}

.table__caption {
    text-align: left;
    margin: auto 20px;
}

.table__overflow {
    overflow-x: auto;
}

.section__miniImage {
    float: left;
    border-radius: 20PX;
    max-width:100px;
}

.section__image {
    display: flex;
    margin: auto;
}