.container__body {
    max-width: 1000px;
    margin: auto;
    line-height: 1.8;
    background-image: url("../images/backgroundneon.png");
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    font-family: "Roboto Condensed", sans-serif;
}

.container__body--hell {
   background-image:url("../images/hell_background.gif");
}

.section__boxModel {
    margin: 10px;
    padding: 10px;
}

.section__boxModel--centering {
    text-align: center;
}

.section__miniImage {
    float: left;
    border-radius: 20PX;
    max-width:100px;
}

.section__image {
    display: flex;
    margin: auto;
}